.popup-overlay{
    width: 1250px;
    height: 750px;
    background: #FFFFFF;
    padding: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Inter', sans-serif;
}

.popup-content{
    width: 100%;
    height: calc(100% - 110px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-overlay > span{
    font-style: normal;
    font-weight: 600;
    font-size: 75px;
    line-height: 91px;
    color: #000000;
}

hr{
    color: #ABABAB;
}

.oren{
    font-style: normal;
    font-weight: 700;
    font-size: 125px;
    line-height: 151px;
    text-align: center;
    text-transform: capitalize;
    color: #F29723;
}

.hitam{
    font-style: normal;
    font-weight: 700;
    font-size: 125px;
    line-height: 151px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}

.popup-btn2{
    align-self: flex-end;
    display: flex;
    gap: 20px;
}

.goback-btn{
    width: 150px;
    height: 50px;
    background: #FFFFFF;
    border: 3px solid #00A1E9;
    border-radius: 28px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.finish-btn{
    width: 150px;
    height: 50px;
    background: #F29723;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    border: 0;
}